{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/4650/4650535.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
    <title>{% block title%}{% endblock %}</title>
  </head>
  
<body>
    <nav class="navbar navbar-expand-lg navbar-dark badge-primary">
      

        <a class="navbar-brand" href="{% url 'lojaapp:home' %}"><img stile="height:50; " width="50" src="https://cdn-icons-png.flaticon.com/512/4650/4650535.png" />  LOJA ESPORTES</a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav ml-auto mr-auto" >
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'lojaapp:home' %}" >HOME &nbsp<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'lojaapp:Todosprodutos' %}">&nbsp CATEGORIAS &nbsp</a>
              </li>

              <li class="nav-item">         
                <a class="nav-link" href="{% url 'lojaapp:meucarro' %}">&nbsp CARRINHO &nbsp</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  MINHA CONTA
                </a>
                <div class="dropdown-menu" aria-LabeLLedby="navbarDropdown">
                    {% if request.user.cliente %}
                    
                    <center>
                    <a class="dropdown-item"><p style="color:black;" >Olá, {{request.user.username}}! 🙂</p></a>
                    
                    <a class="dropdown-item" href="{% url 'lojaapp:clienteperfil'%}" ><p style="color:black;">MEU PERFIL</p></a>
                    
                    <a class="dropdown-item" href="{% url 'lojaapp:clientesair'%}"><p style="color:black;">SAIR</p></a>
                    </center>

                    {% else %}
                    <center>
                    <a class="dropdown-item" href="{% url 'lojaapp:clienteregistrar' %}"><p style="color:black;">CADASTRO</p></a>    
                    <a class="dropdown-item" href="{% url 'lojaapp:clienteentrar' %}"><p style="color:black;">ENTRAR</p></a>
                    </center>
                    {% endif %}
              </li>
            </div>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'lojaapp:pesquisar' %}" method="GET">
              <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Pesquisar Produto" aria-label="Search" required>
              <button class="btn btn-dark my-2 my-sm-0" type="submit">PESQUISAR</button>
            </form>
          </div>
        </nav>

    <hr>

    {% block content %}
    {% endblock %}


    <footer class="footer">
      <center>
      <div class="footerBox">
          <h1>
              <img src="https://cdn-icons-png.flaticon.com/512/4650/4650535.png" alt="logo" id="footerLogo">
          </h1>

          <address>
              2023, Nova Friburgo-RJ<br>

              <a class="footerContact"  href="{% url 'lojaapp:faleconosco' %}">FALE CONOSCO</a>
          </address>
        </center>
      </div>

      <ul class="footerNav">
<!-- 
          <li class="navItens">
              <h2 class="navTitle">Informações</h2>

              <ul class="navUl">
              </ul>

          </li> -->

          <li class="navItens">
              <h2 class="navTitle"></h2>
          </li>

      </ul>
  </footer>
    
    <script type="text/javascript" src='{% static "js/script.js" %}'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>