{% extends 'base.html' %}
{% load humanize %}
{% block title%}DETALHE DO PEDIDO{% endblock %}


{% block content %}
<div class="page fill-page">
    <div class="mainContainer">
        <div class="tableBox">
            <h3 class="cardTitle">Detalhes Do Pedido</h3>
            <hr>
            <p><spam class= "font-weight-bold">Pedido ID: </spam>{{pedido_obj.id}}</p>
            <p><spam class= "font-weight-bold">Status do Pedido: </spam>{{pedido_obj.pedido_status}}</p>
            <p><spam class= "font-weight-bold">Data do Pedido: </spam>{{pedido_obj.criado_em}}</p>
            <p><spam class= "font-weight-bold">Nome do Cliente: </spam>{{pedido_obj.ordernando_por}}</p>
            <p><spam class= "font-weight-bold">Telefone do Cliente: </spam>{{pedido_obj.telefone}}</p>
            <p><spam class= "font-weight-bold">Endereço do Cliente: </spam>{{pedido_obj.endereco_envio}}</p>
            <p><spam class= "font-weight-bold">Email do Cliente: </spam>{{pedido_obj.email}}</p>
            <hr>
            <h4 class="cardTitle">Itens do Pedido</h4>
            <table  class="tableCar">
                <thead>
                    <tr class="trTable">
                        <th>Codigo</th>
                        <th>Item</th>
                        <th>Avaliação</th>
                        <th>Quantidade</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in pedido_obj.carro.carroproduto_set.all %}

                    <tr class="trTable">
                        <td>{{forloop.counter}}</td>
                        <td><a class="cardTitle" target="blank" href="{% url 'lojaapp:produtodetalhe' cp.produto.slug %}">{{cp.produto.titulo}}{{cp.produto.id}}</a></td>
                        <td>{{cp.avaliacao}}</td>
                        <td>{{cp.quantidade}}</td>
                        <td>{{cp.subtotal}}</td>
                    </tr>

                    {% endfor %}
                    <th colspan="5" class="text-right">Valor Total: R$ {{pedido_obj.total|intcomma}}</th>

                </tbody>
            </table>
        </div>

        </div>
    </div>


{% endblock %}