{% extends 'base.html' %}
{% block title%}CADASTRAR CLIENTE{% endblock %}


{% block content %}

<style>

    .errorlist{
        color: blue;
        list-style: none;
    }

</style>
<div class="page">

    <div class="mainContainer">
    
        <div class="containerInner">
    
            <h3>Cadastrar Cliente</h3>
    
            <form action="" method="POST" class="forms">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn-neon">Cadastrar Cliente</button>
    
            </form>
    
            <br><p class="textToAlign">Se você ja se cadastrou, <a href="{%url 'lojaapp:clienteentrar' %}">clique aqui</a></p>
        
        </div>
    
    </div>

</div>


{% endblock %}