{% extends 'base.html' %}
{% block title%}ENTRAR{% endblock %}


{% block content %}
<style>
    .errorlist{
        color: blue;
        list-style: none;
    }
</style>
<div class="page fill-page">
    <div class="mainContainer">
        <div class="containerInner">
            <h3>Entrar</h3>
            <form class="forms" action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn-neon">Entrar</button>
            {% if error %}
            <li style="color:brown; list-style-type: none;">{{error}}</li>
    
            {% endif %}
    
            </form>  
            <br><p class="textToAlign">Se você não está cadastrado</p>
            <a href="{%url 'lojaapp:clienteregistrar' %}{% if request.GET.next%}?next={{request.GET.next}}{% endif %}">👉🏻clique aqui👈🏻</a>
        </div>
    </div>
</div>


{% endblock %}