{% extends 'base.html' %}
{% block title%}CARRINHO{% endblock %}


{% block content %}

<div class="page fill-page">

    <div class="tableBox">
        
        <h4 class="cardTitle">ITENS DO CARRINHO</h4>
        <table class="tableCar">
            <thead>
                <tr class="trTable">
                    <th>IMAGEM</th>
                    <th>CÓDIGO</th>
                    <th>PRODUTO</th>
                    <th>PREÇO UNI.</th>
                    <th>QUANTIDADE</th>
                    <th>SUBTOTAL</th>
                    <th>AÇÃO</th>
                </tr>
            </thead>
                <tbody>
                    {% for cp in carro.carroproduto_set.all %}
                    
                    <tr class="trTable">
                        <td><img style="width: 3.5em;height: 3.5em;" src="{{cp.produto.imageURL}}" alt="img-missing"></td>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.produto.titulo}}</td>
                        <td>{{cp.avaliacao}}</td>
                        <td>{{cp.quantidade}}</td>
                        <td>{{cp.subtotal}}</td>
                        <td class="buyBtnTable">
                            <a class="btnFillContent btnCancel" href="{% url 'lojaapp:manipularcarro' cp.id %}?acao=rmv">remover</a>
                            
                            <a class="btnFillContent btnMinus" href="{% url 'lojaapp:manipularcarro' cp.id %}?acao=dcr">
                                <svg class="svgBtn">
                                    <line 
                                        x1="0" y1="50%" 
                                        x2="100%" y2="50%"
                                    />
                                </svg>    
                            </a>

                            <a class="btnFillContent btnPlus" href="{% url 'lojaapp:manipularcarro' cp.id %}?acao=inc">
                                <svg class="svgBtn">
                                    <line 
                                        x1="50%" y1="0" 
                                        x2="50%" y2="100%" 
                                    />
                                
                                    <line 
                                        x1="0" y1="50%" 
                                        x2="100%" y2="50%" 
                                    />
                                </svg>    
                            </a>
                        </td>
                    </tr>
                    {% endfor %}

                    <tr class="totalRow">
                        <th colspan="3"></th>
                        <th>Total:</th>
                        <th>R$ {{carro.total}}</th>
                        {% if carro.carroproduto_set.all  %}
                        <th><a class="btn-neon" href="{% url 'lojaapp:limparcarro' %}"> Limpar Carrinho </a></th>
                        {% endif %}
                    </tr>
                    
                    
                    {% if carro.carroproduto_set.all  %}
                    <tr>
                        <th>
                            <a class="focusBtn" href="{% url 'lojaapp:checkout' %}"> 
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                PROCESSAR COMPRA 
                            </a>
                        </th>
                    </tr>
                    {% endif %}
                </tbody>    
        </table>
    </div>

</div>


{% endblock %}