{% extends 'base.html' %}
{% block title%}PESQUISAR PRODUTO{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>RESULTADO DA PESQUISA <span class="text-success">"{{request.GET.keyword}}"</span></h3>
            <hr>
            {% for result in results %}
            <div class="row">
                <div class="col-md-3">
                    <img src="{{result.image.url}}" class="img-fluid" alt="">
                </div>


                <div class="col-md-8">
                    <h4><a href="{% url 'lojaapp:produtodetalhe' result.slug %}">{{result.titulo}}</a></h4>
                    <p>{{result.descricao|truncatewords:50}}</p>
                    <p class="text-danger">Politica Devoluçao{{result.return_devolucao}}<a href="{% url 'lojaapp:addcarro' result.id %}" class="btn btn-success">Comprar</a></p> 

                </div>
                {% endfor %}    
            </div>

        </div>
    </div>
</div>   
{% endblock %}