{% extends 'base.html' %}
{% block title%}{{produto.titulo}}{% endblock %}


{% block content %}

<div class="container">

    <h4>Produto: {{produto.titulo}}</h4><hr>   
<div class="row">
    <div class="col-md-6">
        <img src="{{produto.image.url}}" alt="" class="img-fluid" width="350">
    </div>
    <div class="col-md-6 text-left">
        <h3>{{produto.titulo}} <br>({{produto.visualizacao}} Visulizações)</h3>
        <p></p>
        <h4>Categoria: {{produto.Categoria}}</h4>
        <p></p>
        <h5>De: <strike> R$ {{produto.preco_mercado}}</strike><br><br>Por: R$ {{produto.venda}}</h5>
        <a href="{% url 'lojaapp:addcarro' produto.id %}" class="btn btn-success">Comprar</a><hr>
        <p class="text-danger">Garantia: {{produto.garantia}}</p>
        <p class="text-danger">Politica de Devolução: {{produto.return_devolucao}}</p><hr>
        <p class="text-dark">{{produto.descricao}}</p>

    </div>
</div>
      
</div>   
{% endblock %}