{% extends 'base.html' %}
{% block title%}TODOS OS PRODUTOS{% endblock %}


{% block content %}

<div class="page">

    <div class="pageContainer">
        <h1 class="textToAlign cardTitle">TODOS OS PRODUTOS POR CATEGORIA</h1>  

        {% for cat in todoscategorias %}
        <hr>
        <h1 class="textToAlign cardTitle">{{cat.titulo}}</h1>
        <hr>
        <div class="rowBy3 catBoxes">
        <!-- <div class="rowBy3"> -->
            {% for p in cat.produto_set.all %}
        
            <div class="cardBoxOuter">
                <div class="cardBox">
                    <h4 class="textToAlign cardTitle"><a class="textToAlign cardTitle" href="{% url 'lojaapp:produtodetalhe' p.slug %}"> {{p.titulo}} </a></h4>  
                    <center>
                    <a href="{% url 'lojaapp:produtodetalhe' p.slug %}">
                        <img src="{{p.image.url}}" alt="" class="img-fluid" stile="height: 200; object-fit: contain;" width="200">
                    </a>
                    </center> 
                    <p class="mt-3">De: <strike> R$ {{p.preco_mercado}}</strike> <br>Por: R$ {{p.venda}}</p>
                    <a href="{% url 'lojaapp:addcarro' p.id %}" class="btn-neon">Comprar</a>
                </div>
            </div>
            {% endfor %}
        </div>
    
        {% endfor %}
    </div>   

</div>

{% endblock %}