<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <a class="btn btn-outline-info" href="{% url 'lojaapp:adminhome' %}">HOME</a>  
        <a class="btn btn-outline-info" href="{% url 'lojaapp:adminhome' %}">TODOS PEDIDOS</a>  

        <a class="btn btn-outline-info" href="{% url 'lojaapp:home' %}" target="_blank">Visitar Loja</a>  

    </div>
    {% block content %}

    {% endblock %}

</body>
</html>